.previewMain {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.5em;
  background-color: #0d121e;
}

.previewMainContent {
  display: flex;
  align-items: center;
  padding: 0.7em;
  width: 100%;
  max-width: 1200px;
  border-radius: 0.5em;
}

.previewLogo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  padding-left: 3em;
}

.previewTitle {
  color: var(--accent-clr);
  font-size: 2.3em;
  font-weight: 800;
}

.previewSubtitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.previewParagraph {
  font-size: 1.3rem;
  min-width: 300px;
  width: 75%;
}

.previewMainList {
  display: flex;
  width: 100%;
  padding-top: 5em;
  transform: translate(-16px);
}

.previewListObject {
  display: flex;
}

.previewLink {
  color: var(--txt-clr);
  padding: 1em;

  transition:
    color 0.5s,
    filter 0.5s;
}

.previewLink:hover {
  cursor: pointer;
  color: var(--accent-clr);
  filter: drop-shadow(0 2px 5px var(--accent-clr));

  transition:
    color 0s,
    filter 0s;
}

.objF {
  display: flex;
  width: 100%;
  padding: 2em;
}

.ava {
  margin: auto;
  border-radius: 50%;
  width: 80%;
  filter: drop-shadow(0 2px 5px var(--accent-clr));
}
