.previewMain {
    display: flex;
    justify-content: center;
    width: 100%;
}

.previewMainContent {
    display: flex;
    align-items: center;
    padding: 0.7em;
    width: 100%;
    max-width: 1200px;
    border-radius: 0.5em;
}

.previewLogo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    padding-left: 3em;
}

.previewTitle {
    color: var(--accent-clr);
    font-size: 2.3em;
    font-weight: 800;
}

.previewSubtitle {}

.previewParagraph {}

.previewMainList {
    display: flex;
    width: 100%;
    padding-top: 5em;
    transform: translate(-16px);
}

.previewListObject {}

.previewLink {
    padding: 1em;
}

.objF {
    display: flex;
    width: 100%;
    padding: 2em;
}

.ava {
    margin: auto;
    border-radius: 50%;
    width: 80%;
}
