.about {
  width: 100%;
  display: flex;
  border-radius: 0.5em;
  background-color: #0d121e;
}

.aboutContent {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  padding: 0.7em;
  max-width: 1200px;
  border-radius: 0.7em;
}

.ava {
  margin: auto;
  border-radius: 50%;
  width: 80%;
}

.objFBackground {
  position: relative;
  border-radius: 50%;
  background-color: #161e2a;
  filter: drop-shadow(0 4px 4px var(--accent-clr));
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.objFBackgroundAva {
  position: absolute;
  top: 0;
  left: 0;
}

.imageWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  width: 30%;
  min-width: 250px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 50%;
  min-width: 350px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: max-content;
  padding: 1em;
  border: 1px solid var(--accent-clr);
  border-radius: 0.7em;
  background-color: var(--bg-clr);
}

.textBlockLow {
  height: 5em;
  overflow: hidden;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
}

.paragraph {
}

.textBlockBtn {
  margin: auto 0;
  transition: 0.3s;
}

.textBlockBtnOpen {
  color: var(--accent-clr);
  transform: rotate(180deg);
}
