.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.7em;
    background-color: #0D121E;
    color: #FFF;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.nameBlock {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.headerLogo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.headerName {}

.headerTitle {
    font-size: 1.2rem;
    font-weight: 700;
}

.headerSubTitle {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.8);
}

.boxlink {}

.listlink {
    display: flex;
}

.link {
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0.5em;
    transition: 0.5s;
    padding: 0.3em 1em;
}

.link:hover {
    color: #F0C05A;
    box-shadow: 0px 4px 10px 0px #F0C05A;
}

.listSettings {}

.linkSetting {
    padding: 0.3em 1em;
}

.LinkLanguage {}

.linkTheme {}

.blockBtns {
    display: flex;
}
