.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.7em;
  color: var(--txt-clr);
  background-color: #0d121e;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footerList {
  display: flex;
  gap: 0.7em;
}

.footerObject {
  padding: 0.5em;
  font-size: 1.5rem;
  transition: 0.3s;
}

.footerObject:hover {
  color: var(--accent-clr);
  filter: drop-shadow(0 2px 5px var(--accent-clr));
}

.footerLinkFrend:hover {
  opacity: 0.5;
}
